.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* ekranın tamamının yüksekliğinin %100 ü demektir
  vh: "viewport height"
  1vh ekranın yüksekliğinin %1 i */


  /* height:100vh vs min-height: 100vh

  height
  Container her durumda tam ekran yüksekliğinde olur.
  İçeriği taşarsa, taşan kısmı göremezsin (taşma olur).

  min-height
  Container’ın yüksekliği ekran kadar olur.
  Eğer içerik fazlaysa, otomatik olarak uzar (scroll çıkar), ama asla 100vh’den kısa olmaz. */

}